@{ Layout = "_SprinkleLayout";}
@model CMSprinkle.ViewModels.EditViewModel

<h1>Edit Content</h1>

@Html.ActionLink("⬅ Back", "Home", "Sprinkle")

<form method="post">
    <p>Key: <input type="text" name="key" value="@Model.Key" readonly /></p>
    <p>Content: <textarea rows="20" name="content" id="content">@Model.Content</textarea></p>
    <input type="submit" value="Update" />
</form>

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/stackedit-js@1.0.7/docs/lib/stackedit.min.js"></script>
    <script>
    const stackedit = new Stackedit();

    // Open StackEdit when the textarea is focused
    document.getElementById('content').addEventListener('focus', function () {
        stackedit.openFile({
            content: {
                text: document.getElementById('content').value
            }
        });
    });

    // Listen to StackEdit events and update the textarea
    stackedit.on('fileChange', (file) => {
        document.getElementById('content').value = file.content.text;
    });
    </script>
}
