@{ Layout = "_SprinkleLayout";}
@model CMSprinkle.ViewModels.EditViewModel

<h1>CMSprinkle Add Content</h1>

<p><a href="/cmsprinkle/home">⬅ Back</a></p>

<form method="post">
    <p>Key: <input type="text" name="key" value="@Model.Key" readonly /></p>
    <p>Content: <textarea rows="20" width="75%" name="content">@Model.Content</textarea></p>
    <input type="submit" value="Update" />
</form>